version: '3.8'

services:
  api:
    build: .
    ports:
      - "10000:10000"
    environment:
      - NODE_ENV=production
      - PORT=10000
      - DATABASE_URL=postgresql://user:password@postgres:5432/risk_db?schema=public
      - REDIS_URL=redis://redis:6379
      - API_KEY=test_secret_key
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - bank-net
    restart: always

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: risk_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d risk_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - bank-net

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - bank-net

volumes:
  pg_data:
  redis_data:


networks:
  bank-net:
    driver: bridge
